# General
.DS_Store
*.log
*.swp
*.swo
*~
.vscode/
.idea/

# Python/Django (backend)
venv/
.env
*.pyc
__pycache__/
db.sqlite3
/media/
/staticfiles/
*.sqlite3
*.pot
.pytest_cache/
.coverage
htmlcov/

# Node/React (frontend)
node_modules/
.env*
/.env.local
/.env.development
/.env.production
/build/
/dist/
/.next/
/out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
.eslintcache

# Database
/postgres_data/

# Editor
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore specific root-level files
/docker-compose.yml
/*.txt
secrets/